<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weatherProject</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="container">
    
        <!-- Enter city info -->
        <div class="location black-box">
            <form action="/submit" method="POST">
                <label for="cityName">City</label>
                <input type="text" id="cityName" name="cityName">
                <button type="submit">Submit</button>
            </form>
        </div>

        <!-- Next 6 hours forecast -->
        <div class="hourly black-box">
            <h3>HOURLY FORECAST</h3>
            <div class="hourlyData">
                <div class="current-hour-box">
                    <h3><%= hoursinfo[0] %></h3>
                    <h3><%= tempsinfo[0] %>°</h3>
                </div>
                <div>
                    <h3><%= hoursinfo[1] %></h3>
                    <h3><%= tempsinfo[1] %>°</h3>
                </div>
                <div>
                    <h3><%= hoursinfo[2] %></h3>
                    <h3><%= tempsinfo[2] %>°</h3>
                </div>
                <div>
                    <h3><%= hoursinfo[3] %></h3>
                    <h3><%= tempsinfo[3] %>°</h3>
                </div>
                <div>
                    <h3><%= hoursinfo[4] %></h3>
                    <h3><%= tempsinfo[4] %>°</h3>
                </div>
                <div>
                    <h3><%= hoursinfo[5] %></h3>
                    <h3><%= tempsinfo[5] %>°</h3>
                </div>
            </div>
        </div>

        <!-- current weather info -->
        <div class="current">
            <div class="current-weather">
                <h1><%= cityName %></h1>
                <h2><%= currentTemp %></h2>
                
                <p><%= description %></p>
            </div>
            <div class="feelslike black-box">
                <h3>
                    <svg fill="none" height="20" width="20" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path d="m9.91 19.56c0-.85.2-1.64.59-2.38s.94-1.35 1.65-1.84v-9.92c0-.8.27-1.48.82-2.03s1.23-.84 2.03-.84c.81 0 1.49.28 2.04.83.55.56.83 1.23.83 2.03v9.92c.71.49 1.25 1.11 1.64 1.84s.58 1.53.58 2.38c0 .92-.23 1.78-.68 2.56s-1.07 1.4-1.85 1.85-1.63.68-2.56.68c-.92 0-1.77-.23-2.55-.68s-1.4-1.07-1.86-1.85-.68-1.63-.68-2.55zm1.76 0c0 .93.33 1.73.98 2.39s1.44.99 2.36.99c.93 0 1.73-.33 2.4-1s1.01-1.46 1.01-2.37c0-.62-.16-1.2-.48-1.73s-.76-.94-1.32-1.23l-.28-.14c-.1-.04-.15-.14-.15-.29v-10.76c0-.32-.11-.59-.34-.81-.23-.21-.51-.32-.85-.32-.32 0-.6.11-.83.32s-.34.48-.34.81v10.74c0 .15-.05.25-.14.29l-.27.14c-.55.29-.98.7-1.29 1.23s-.46 1.1-.46 1.74zm.78 0c0 .71.24 1.32.73 1.82s1.07.75 1.76.75 1.28-.25 1.79-.75.76-1.11.76-1.81c0-.63-.22-1.19-.65-1.67s-.96-.77-1.58-.85v-7.36c0-.06-.03-.13-.1-.19-.07-.07-.14-.1-.22-.1-.09 0-.16.03-.21.08-.05.06-.08.12-.08.21v7.34c-.61.09-1.13.37-1.56.85-.43.49-.64 1.04-.64 1.68z" fill="white" stroke="white"/></svg>
                    FEELS LIKE
                </h3>
                <h2><%= feelslike %>°</h2>
            </div>
            <div class="precipitation black-box">
                <h3>
                    <svg fill="none" height="20" viewBox="0 0 16 16" width="20" xmlns="http://www.w3.org/2000/svg"><g stroke="#4147d5" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="m12.0656 9.17308c0-4.92308-5.06559-8.17308-5.06559-8.17308s-5.06556 3.25-5.06556 8.17308c0 1.14752.53369 2.24812 1.48367 3.05962.94997.8114 2.23842 1.2673 3.58189 1.2673 1.34346 0 2.63191-.4559 3.58189-1.2673.95-.8115 1.4837-1.9121 1.4837-3.05962z" fill="#d7e0ff"/><path d="m9.28863 9.1637c0 .38583-.17944.75586-.49883 1.0287-.3194.2728-.75259.4261-1.20429.4261"/></g></svg>
                    PRECIPITATION
                </h3>
                <h2><%= precipitation %>%</h2>
            </div>
            <div class="visibility black-box">
                <h3>
                    <svg width="20" height="20" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><path d="m-896-256h1280v800h-1280z" fill="none"/><path d="m32.513 13.926c10.574.15 19.141 9.894 23.487 18.074 0 0-1.422 2.892-2.856 4.895-.694.969-1.424 1.913-2.191 2.826-.547.65-1.112 1.283-1.698 1.898-5.237 5.5-12.758 9.603-20.7 8.01-8.823-1.77-15.732-9.498-20.058-17.629 0 0 1.248-2.964 2.69-4.964.646-.897 1.324-1.77 2.034-2.617.544-.649 1.108-1.282 1.691-1.897 4.627-4.876 10.564-8.63 17.601-8.596zm-.037 4c-5.89-.022-10.788 3.267-14.663 7.35-.527.555-1.035 1.127-1.527 1.713-.647.772-1.265 1.569-1.854 2.386-.544.755-1.057 1.805-1.451 2.59 3.773 6.468 9.286 12.323 16.361 13.742 6.563 1.317 12.688-2.301 17.016-6.846.529-.555 1.04-1.128 1.534-1.715.7-.833 1.366-1.694 1.999-2.579.557-.778 1.144-1.767 1.588-2.567-3.943-6.657-10.651-13.944-19.003-14.074z" fill="white" stroke="white"/><path d="m32.158 23.948c4.425 0 8.018 3.593 8.018 8.017 0 4.425-3.593 8.017-8.018 8.017-4.424 0-8.017-3.592-8.017-8.017 0-4.424 3.593-8.017 8.017-8.017zm0 4.009c2.213 0 4.009 1.796 4.009 4.008 0 2.213-1.796 4.009-4.009 4.009-2.212 0-4.008-1.796-4.008-4.009 0-2.212 1.796-4.008 4.008-4.008z" fill="white"/></svg>
                    VISIBILITY

                </h3>
                <h2><%= visibility %> mi</h2>
            </div>
            <div class="humidity black-box">
                <h3>
                    <svg style="enable-background:new 0 0 16 16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="qi-2019" viewBox="0 0 16 16">
                        <style>
                          .st6{fill-rule:evenodd;clip-rule:evenodd}
                        </style>
                        <g id="&#x56FE;&#x5C42;_1">
                          <path d="M9.08 9.375a.855.855 0 0 0-.701.321c-.173.214-.26.485-.26.813 0 .33.086.602.258.814.172.213.406.319.702.319.299 0 .533-.106.704-.317s.256-.484.256-.816c0-.337-.085-.61-.255-.819-.168-.211-.403-.315-.704-.315zm0 1.855c-.314 0-.472-.241-.472-.723s.157-.723.472-.723c.314 0 .472.241.472.723-.001.483-.158.723-.472.723zM7.012 8.18c.171-.211.256-.484.256-.816 0-.337-.085-.61-.254-.819-.17-.209-.405-.314-.706-.314-.294 0-.528.107-.701.321s-.26.485-.26.813c0 .33.086.602.258.814.172.213.406.319.702.319.299 0 .534-.106.705-.318zm-1.176-.816c0-.482.157-.723.472-.723s.472.241.472.723-.157.723-.472.723-.472-.241-.472-.723zm3.486-1.091a.29.29 0 0 0-.398.097l-2.955 4.831a.29.29 0 0 0 .247.44.286.286 0 0 0 .247-.139l2.955-4.831a.289.289 0 0 0-.096-.398z" class="st6"/>
                          <path d="M7.694.214S2.503 7.726 2.503 10.595s2.322 5.19 5.191 5.19c2.869 0 5.191-2.321 5.191-5.19S7.694.214 7.694.214zm2.954 11.819c-.396.008-.623.08-1.465.351l-.12.038c-.576.23-1.055.355-1.346.355-.49 0-1.298-.338-1.306-.342l-.164-.054c-.883-.283-1.093-.35-1.446-.354-.322 0-.645.053-.985.16a4.073 4.073 0 0 1-.345-1.624c0-1.581 2.236-5.592 4.221-8.66 1.985 3.069 4.222 7.081 4.222 8.66 0 .545-.115 1.089-.342 1.618a3.249 3.249 0 0 0-.924-.148z" class="st6"/>
                        </g>
                      </svg>
                    HUMIDITY
                </h3>
                <h2><%= humidity %>%</h2>
            </div>
        </div>
        <!-- next 6 days forecast -->
        <div class="period black-box">
            <h3>6-DAY FORECAST</h3>
            <div class="next-6">
                <div class="current-day-box">
                    <h3><%= datesTime[0] %></h3>
                    <p><%= dayCondition[0] %></p>
                    <%= daysTemps[0] %>°
                </div>
                <div>
                    <h3><%= datesTime[1] %></h3>
                    <p><%= dayCondition[1] %></p>
                    <%= daysTemps[1] %>°
                </div>
                <div>
                    <h3><%= datesTime[2] %></h3>
                    <p><%= dayCondition[2] %></p>
                    <%= daysTemps[2] %>°
                </div>
                <div>
                    <h3><%= datesTime[3] %></h3>
                    <p><%= dayCondition[3] %></p>
                    <%= daysTemps[3] %>°
                </div>
                <div>
                    <h3><%= datesTime[4] %></h3>
                    <p><%= dayCondition[4] %></p>
                    <%= daysTemps[4] %>°
                </div>
                <div>
                    <h3><%= datesTime[5] %></h3>
                    <p><%= dayCondition[5] %></p>
                    <%= daysTemps[5] %>°
                </div>
            </div>
        </div>
        <div class="UV black-box">
            <h3>UV INDEX</h3>
            <h2><%= uvLevel %></h2>
        </div>
        <div class="wind black-box">
            <h3>WIND</h3>
            <h2><%= windspeed %>MPH</h2>
        </div>

    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            var condition = '<%= condition %>';
            var backgroundImage;
            
            if (condition.includes('Snow')) {
                backgroundImage = 'snow.jpg';
            } else if (condition.includes('Rain')) {
                backgroundImage = 'rain.jpg';
            } else if(condition.includes('Partially cloudy')){
                backgroundImage = 'cloudy.jpg';
            } else if(condition.includes('Overcast')){
                backgroundImage = 'rain.jpg';
            } else if(condition.includes('Clear')){
                backgroundImage = 'sunny.jpg';
            } else {
                backgroundImage = 'sunny.jgp';
            }

            document.body.style.backgroundImage = `url('/images/${backgroundImage}')`;
            document.body.style.backgroundSize = 'cover';
            document.body.style.backgroundPosition = 'center';
        })
    </script>

</body>
</html>