<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weatherProject</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="container">
    
        <!-- Enter city info -->
        <div class="location black-box">
            <form action="/submit" method="POST">
                <label for="cityName">City</label>
                <input type="text" id="cityName" name="cityName">
                <button type="submit">Submit</button>
            </form>
        </div>

        <!-- Next 6 hours forecast -->
        <div class="hourly black-box">
            <h3>HOURLY FORECAST</h3>
            <div class="hourlyData">
                <div class="current-hour-box">
                    <h3><%= hoursinfo[0] %></h3>
                    <h3><%= tempsinfo[0] %>°</h3>
                </div>
                <div>
                    <h3><%= hoursinfo[1] %></h3>
                    <h3><%= tempsinfo[1] %>°</h3>
                </div>
                <div>
                    <h3><%= hoursinfo[2] %></h3>
                    <h3><%= tempsinfo[2] %>°</h3>
                </div>
                <div>
                    <h3><%= hoursinfo[3] %></h3>
                    <h3><%= tempsinfo[3] %>°</h3>
                </div>
                <div>
                    <h3><%= hoursinfo[4] %></h3>
                    <h3><%= tempsinfo[4] %>°</h3>
                </div>
                <div>
                    <h3><%= hoursinfo[5] %></h3>
                    <h3><%= tempsinfo[5] %>°</h3>
                </div>
            </div>
        </div>

        <!-- current weather info -->
        <div class="current">
            <div class="current-weather">
                <h1><%= cityName %></h1>
                <h2><%= currentTemp %></h2>
                
                <p><%= description %></p>
            </div>
            <div class="feelslike black-box">
                <h3>FEELS LIKE</h3>
                <h2><%= feelslike %>°</h2>
            </div>
            <div class="precipitation black-box">
                <h3>PRECIPITATION</h3>
                <h2><%= precipitation %>%</h2>
            </div>
            <div class="visibility black-box">
                <h3>VISIBILITY</h3>
                <h2><%= visibility %> mi</h2>
            </div>
            <div class="humidity black-box">
                <h3>HUMIDITY</h3>
                <h2><%= humidity %>%</h2>
            </div>
        </div>
        <!-- next 6 days forecast -->
        <div class="period black-box">
            <h3>6-DAY FORECAST</h3>
            <div class="next-6">
                <div class="current-day-box">
                    <h2><%= datesTime[0] %></h2>
                    <%= daysTemps[0] %>°
                </div>
                <div>
                    <h2><%= datesTime[1] %></h2>
                    <%= daysTemps[1] %>°
                </div>
                <div>
                    <h2><%= datesTime[2] %></h2>
                    <%= daysTemps[2] %>°
                </div>
                <div>
                    <h2><%= datesTime[3] %></h2>
                    <%= daysTemps[3] %>°
                </div>
                <div>
                    <h2><%= datesTime[4] %></h2>
                    <%= daysTemps[4] %>°
                </div>
                <div>
                    <h2><%= datesTime[5] %></h2>
                    <%= daysTemps[5] %>°
                </div>
            </div>
        </div>
        <div class="UV black-box">
            <h3>UV INDEX</h3>
            <h2><%= uvLevel %></h2>
        </div>
        <div class="wind black-box">
            <h3>WIND</h3>
            <h2><%= windspeed %>MPH</h2>
        </div>

    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            var condition = '<%= condition %>';
            var backgroundImage;
            
            if (condition.includes('Snow')) {
                backgroundImage = 'snow.jpg';
            } else if (condition.includes('Rain')) {
                backgroundImage = 'rain.jpg';
            } else if(condition.includes('Partially cloudy')){
                backgroundImage = 'cloudy.jpg';
            } else if(condition.includes('Overcast')){
                backgroundImage = 'cloudy.jpg';
            } else if(condition.includes('Clear')){
                backgroundImage = 'sunny.jpg';
            } else {
                backgroundImage = 'sunny.jgp';
            }

            document.body.style.backgroundImage = `url('/images/${backgroundImage}')`;
        })
    </script>

</body>
</html>